.hero
    margin-top: 279px
    margin-bottom: 501px
    &-text
        color: #666666
        font-family: "PF Din Text Cond Pro"
        font-size: 35px
        font-weight: 700
        line-height: 25px
        text-transform: uppercase
        text-align: center
    &-block
        margin-top: 75px
        width: 1176px
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-left: auto
        margin-right: auto
        &__image
            width: 276px
            &-text
                margin-top: 30px
                margin-bottom: 29px
                color: #666666
                font-family: "PF Din Text Cond Pro"
                font-size: 18px
                font-weight: 500
                text-transform: uppercase
                text-align: center
            &-buttons
                display: flex
                flex-direction: row
                justify-content: space-between
.btn
    width: 133px
    height: 41px
    border: 2px solid #66cc66
    border-radius: 0
    color: #66cc66
    font-family: "PF Din Text Cond Pro"
    font-size: 14px
    font-weight: 700
    text-transform: uppercase
    &-about
        width: 67px
        text-align: center
    &-order
        width: 59px
        text-align: center
    &-active
        height: 41px
        width: 133px
        background-color: #66cc66
        color: #ffffff
        font-family: "PF Din Text Cond Pro"
        font-size: 14px
        font-weight: 700
        text-transform: uppercase
        text-width: 59px
    