* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.block {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    top: 50%;
    margin-top: 100px;
    
}

.tytle {
    margin-top: 100px;
    width: 552px;
    height: 31px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 400;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.item {
    display: flex;
    width: 263px;
    height: 350px;
    justify-content: space-between;
    flex-direction: column;
}

.cover {
    align-self: center;
    background-color: #ffffff;
}

.image {
    width: 223px;
    height: 210px;
    align-self: center;
}

.content {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    align-self: center;
}

.price-content {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    align-self: center;
}

button {
    width: 200px;
    height: 55px;
    border: 1px solid #23bac1;
    color: #23bac1;
    font-family: "Proxima Nova";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 23px 75px 23px 74px;
    align-self: center;
}