.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSansRegular/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'),
    url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.opensans {
	font-family: 'Open Sans Regular', sans-serif;
}

@font-face {
    font-family: 'Bebas Regular';
    src: url('../fonts/BebasRegular/BebasRegular.eot');
    src: url('../fonts/BebasRegular/BebasRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasRegular/BebasRegular.woff') format('woff'),
    url('../fonts/BebasRegular/BebasRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bedas {
	font-family: 'Bebas Regular', sans-serif;
}
@font-face {
    font-family: 'Bad Script Regular';
    src: url('../fonts/BadScriptRegular/BadScriptRegular.eot');
    src: url('../fonts/BadScriptRegular/BadScriptRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BadScriptRegular/BadScriptRegular.woff') format('woff'),
    url('../fonts/BadScriptRegular/BadScriptRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.badscript {
	font-family: 'Bad Script Regular', sans-serif;
}

@font-face {
    font-family: 'Lobster Regular';
    src: url('../fonts/lobsterRegular/lobsterRegular.eot');
    src: url('../fonts/lobsterRegular/lobsterRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lobsterRegular/lobsterRegular.woff') format('woff'),
    url('../fonts/lobsterRegular/lobsterRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lobster {
	font-family: 'Lobster Regular', sans-serif;
}